* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    display: flex;

    .content {
        height: 100vh;
        width: 100%;
        overflow-y: auto;
    }
}

.navbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    @media (max-width: 768px) {
        position: absolute;
        bottom: 0;
        height: initial;
        width: 100%;
        z-index: 1;

        .navbar-contents {
            align-items: center;

            &.open {
                display: flex;
            }

            &.closed {
                display: none;
            }
        }

        #copyright {
            margin: 32px 0 16px;
        }

        .menu-button {
            width: 100%;
            text-align: center;
            display: block;
        }
    }

    @media (min-width: 769px) {
        #copyright {
            margin-top: auto;
        }

        .menu-button {
            display: none;
        }
    }

    background: rgba(245, 254, 253, 0.75);
    backdrop-filter: blur(10px);
    width: 300px;
    padding: 32px;
    height: 100vh;

    .navbar-contents {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .logo {
            display: flex;
            align-items: center;

            .text {
                margin-left: 16px;
                display: flex;
                flex-direction: column;
            }
        }

        .nav-section {
            margin-top: 32px;
        }

        a {
            font-size: 18px;
            margin-top: 0.5rem;
        }
    }
}

.mobile-nav-control {
    @media (min-width: 601px) {
        display: none;
    }
}

#landing {
    padding: 0;
    height: 75%;
    background: url("/redmond.png") no-repeat center center fixed;
    background-size: cover;

    .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
        backdrop-filter: blur(5px);;
        color: white;
        background: rgba(43, 61, 134, 0.5);
    }
}

#schedule {
    background: #f8f0e3;

    .concerts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;

        .concert-card {
            width: 300px;
        }
    }
}

.concert-description {
    display: flex;
    flex-direction: column;
}

#about {
    background: #faf9f6;

    .description {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        div {
            width: 100%;
            padding: 16px;

            @media (min-width: 768px) {
                width: 50%;
            }

            img {
                width: 100%;
                text-align: center;
            }
        }
    }
}

.content > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 128px 32px;
}

.mt-16 {
    margin-top: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.container {
    max-width: 1024px;
}
